SQL-AI-Agent.json
{"createdAt":"2025-04-03T05:11:36.415Z","updatedAt":"2025-04-04T06:49:43.000Z","id":"2f7iV5j1kYTg6gFo","name":"SQL AI Agent","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"download":true}},"id":"c10974bd-163d-4b0d-811f-45b064e322d8","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[120,180],"webhookId":"0ae61d26-ab9a-4b70-bea5-73eed7fb78ea","credentials":{"telegramApi":{"id":"vFC1rEwmqnuJWjpr","name":"Telegram account Rish"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"fa57ea01-8f5a-41cc-8be4-cbc40bc50a78","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-420,820],"credentials":{"telegramApi":{"id":"vFC1rEwmqnuJWjpr","name":"Telegram account Rish"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  file = item.binary.data;\n}\n\nreturn file;"},"id":"227eee65-ae9a-4a6f-8ac6-2d6a6c21ad23","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,860]},{"parameters":{"fieldToSplitOut":"data","options":{"destinationFieldName":"file"}},"id":"efde91c5-e7af-476e-9364-52e53e1f494b","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-120,860]},{"parameters":{"operation":"toBinary","sourceProperty":"file","options":{}},"id":"970db193-0df8-4d66-91e9-01324a151df8","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[60,840]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"=data"},{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"en"}]},"options":{}},"id":"9df9f912-9161-48e1-89eb-a8764dd2a8ea","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,840]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0857196d-3af5-4865-9d99-4c3795ddf68b","leftValue":"={{ $json.message.text }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0a4a808e-7333-4999-9904-b344dd1625e7","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,180]},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"id":"976019bc-46f5-44df-9521-43c8456b0290","name":"Groq Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[940,400],"credentials":{"groqApi":{"id":"ZwlodH8cWMCw9Lsx","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":10},"id":"cb1a6b16-18b5-4817-acba-c651c43e2726","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1060,420]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"ff264412-d83f-4688-abfc-4a53007aa4b9","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,180],"credentials":{"telegramApi":{"id":"vFC1rEwmqnuJWjpr","name":"Telegram account Rish"}}},{"parameters":{"descriptionType":"manual","toolDescription":"An expert SQL assistant tool that helps in querying data","operation":"executeQuery","query":" {{ $fromAI('query') }}","options":{}},"id":"b18a7136-3640-4d6d-a761-5e5fe04aaf92","name":"Get queried data","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1260,460],"notesInFlow":true,"credentials":{"postgres":{"id":"SE2IowXpCOq07oGe","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=You are a Reservations Assistant that helps with queries about guest reservations. You have direct access to a PostgreSQL database with a \"reservations\" table.\n\nTable structure:\n\"reservations\" table contains these columns:\n- \"id\" (serial4, primary key)\n- \"guest_name\" (text, NOT NULL)\n- \"mobile_no\" (varchar(15))\n- \"whatsapp_no\" (varchar(15))\n- \"num_people\" (int4)\n- \"check_in_date\" (date)\n- \"check_out_date\" (date)\n- \"hotel_name\" (text)\n- \"rsvp_status\" (int4, NOT NULL) - 1=confirmed, 2=pending, 3=declined\n- \"rsvp_remark\" (text)\n- \"created_at\" (date, DEFAULT CURRENT_DATE)\n- \"updated_at\" (date, DEFAULT CURRENT_DATE)\n- \"time\" (timestamp, DEFAULT CURRENT_TIMESTAMP)\n- \"original_text\" (text)\n- \"dietary_preference\" (text)\n- \"chatid\" (int8)\n- \"eventid\" (int8)\n- \"isactive\" (bool, DEFAULT true)\n- \"rsvp_code_text\" (text)\n- \"title\" (text)\n- \"contact_person\" (text)\n- \"telegram_name\" (text)\n- \"telegram_username\" (text)\n- \"pickup_offered\" (bool)\n- \"event_name\" (text)\n- \"country_code\" (varchar)\n- \"invitation_send\" (bool, DEFAULT true)\n- \"invitation_cnf_date\" (timestamp)\n- \"invitation_send_date\" (timestamp)\n- \"event_detail_send\" (bool, DEFAULT false)\n- \"event_detail_send_date\" (timestamp)\n- \"event_detail_cnf_date\" (timestamp)\n- \"conatct_person_mobile_num\" (varchar(15))\n\nWhen interacting with users:\n1. Always use the exact column name \"guest_name\" (not \"name\") when searching for guests.\n2. Always wrap table and column names in double quotes in your SQL queries.\n3. When a user asks about a guest by name, first check if multiple entries exist with that name using:\n   SELECT COUNT(*) FROM \"reservations\" WHERE \"guest_name\" ILIKE '%[name]%'\n4. If multiple entries exist, ask for clarification by showing the different entries with their mobile numbers:\n   SELECT \"guest_name\", \"mobile_no\", \"event_name\" FROM \"reservations\" WHERE \"guest_name\" ILIKE '%[name]%'\n5. For status queries, provide information from the \"rsvp_status\" field (1=confirmed, 2=pending, 3=declined).\n6. Format dates in a readable way (YYYY-MM-DD).\n7. Always check if records are active by including \"isactive\" = true in your queries when appropriate.\n\nToday's date: {{$now}}\nyou have Get queried data tool to execute the query"}},"id":"16cf0d59-de84-44d6-aaba-de0eb56aae2e","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[940,180]}],"connections":{"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Get queried data":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87caf977-d792-4dab-bb20-b03df036d13e","triggerCount":1,"shared":[{"createdAt":"2025-04-03T05:11:36.420Z","updatedAt":"2025-04-03T05:11:36.420Z","role":"workflow:owner","workflowId":"2f7iV5j1kYTg6gFo","projectId":"1bRNAwTE3hcfOuUD","project":{"createdAt":"2025-03-27T14:26:43.393Z","updatedAt":"2025-03-27T14:31:39.037Z","id":"1bRNAwTE3hcfOuUD","name":"Christopher Wakare <marketing.next@intelliconnectq.com>","type":"personal","icon":null,"projectRelations":[{"createdAt":"2025-03-27T14:26:43.393Z","updatedAt":"2025-03-27T14:26:43.393Z","role":"project:personalOwner","userId":"7af95583-6a82-433b-97a7-4cd97975d705","projectId":"1bRNAwTE3hcfOuUD","user":{"createdAt":"2025-03-27T14:26:42.507Z","updatedAt":"2025-04-07T11:16:16.023Z","id":"7af95583-6a82-433b-97a7-4cd97975d705","email":"marketing.next@intelliconnectq.com","firstName":"Christopher","lastName":"Wakare","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-27T14:40:37.115Z","personalization_survey_n8n_version":"1.64.2","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"yvx8q2BF0oEQtahp","userActivatedAt":1743152292687,"npsSurvey":{"responded":true,"lastShownAt":1744024572463},"isOnboarded":true,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}